[submodule "Kingine/vender/spdlog"]
	path = Kingine/vender/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Kingine/vendor/GLFW"]
	path = Kingine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
